<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid navStyling">
    <a class="navbar-brand" routerLink="/login">Login</a>

    <div class="links">
        <a class="dropdown-item" href="#" routerLink="categories">Categories</a>

      <div class="dropdown user">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          User Links
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#" *ngFor="let routes of userRoutes" routerLink={{routes}}>{{routes |
              titlecase}}</a></li>
        </ul>
      </div>


    </div>
  <div class="navbar" id="navbarNav">
  </div>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
