<!-- <nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login">Navbar</a>
    <div class="navbar" id="navbarNav">
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>