.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.navStyling {
  display: flex;
  flex-direction: row;
}

.links {
  margin-left: auto;
  display: flex;

}

